DB_USER=username
DB_PASSWORD=password
DB_HOST=localhost
DB_NAME=database_name
JWT_KEY=your-jwt-key-here

SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587
EMAIL_ADDRESS=your-email@gmail.com
EMAIL_PASSWORD=your-app-password